:root {
  --bs-primary: #ff741e;
  --bs-primary-rgb: #ff741e;
}

.header-content {
  background: url(Assets/header.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  height: 100dvh;
}
.header-content p {
  max-width: 600px;
}
.on {
  color: #4d90fe;
}
.line {
  color: #fb8959;
}
.card img {
  height: 200px; /* Set your desired fixed height */
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
